plantillas/pipeline/main_process.json
{
	"name": "main_process",
	"properties": {
		"activities": [
			{
				"name": "Procesamiento de datos",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.file_name_origin",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "databricks-process",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "dataflow_process",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/dimacontacto94@gmail.com/Analisis-Sentimientos-1",
								"baseParameters": {
									"file_name_origin": {
										"value": "@item()",
										"type": "Expression"
									},
									"save_route_databricks": {
										"value": "@split(item(), '.')[0]",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "dataflow_process",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow_process",
									"type": "DataFlowReference",
									"parameters": {
										"nombre_fichero": {
											"value": "'@{item()}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"origindata": {
											"file_name_origin": {
												"value": "@item()",
												"type": "Expression"
											}
										},
										"newdata": {
											"file_name_themes": {
												"value": "@pipeline().parameters.file_name_themes",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Copy data to SQL",
							"description": "Crea una tabla en una BDD por cada empresa.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DROP TABLE",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "IF TABLE EXISTS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "user_id",
												"type": "long",
												"physicalType": "long"
											},
											"sink": {
												"name": "user_id",
												"type": "bigint",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "username",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "username",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "tweet_id",
												"type": "long",
												"physicalType": "long"
											},
											"sink": {
												"name": "tweet_id",
												"type": "bigint",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "created_at",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "created_at",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "retweet_count",
												"type": "int",
												"physicalType": "int"
											},
											"sink": {
												"name": "retweet_count",
												"type": "int",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "likes",
												"type": "int",
												"physicalType": "int"
											},
											"sink": {
												"name": "likes",
												"type": "int",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "view_count",
												"type": "float",
												"physicalType": "float"
											},
											"sink": {
												"name": "view_count",
												"type": "float",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "hashtags",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "hashtags",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "text",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "text",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "location",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "location",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "temas",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "temas",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "latitud",
												"type": "float",
												"physicalType": "float"
											},
											"sink": {
												"name": "latitud",
												"type": "float",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "longitud",
												"type": "float",
												"physicalType": "float"
											},
											"sink": {
												"name": "longitud",
												"type": "float",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "URL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "URL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "sentiment_score",
												"type": "float",
												"physicalType": "float"
											},
											"sink": {
												"name": "sentiment_score",
												"type": "float",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "sentiment_result",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sentiment_result",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_to_sql",
									"type": "DatasetReference",
									"parameters": {
										"file_name_origin": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ALTER TABLE",
							"description": "Modifica las columnas para establecer una clave primaria",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data to SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ModificarTabla]",
								"storedProcedureParameters": {
									"NombreTabla": {
										"value": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "IF TABLE EXISTS",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "databricks-process",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "DROP TABLE",
							"description": "Borra los datos para evitar duplicidades",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IF TABLE EXISTS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[BorrarTabla]",
								"storedProcedureParameters": {
									"NombreTabla": {
										"value": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_name_origin": {
				"type": "array",
				"defaultValue": [
					"hiberus.csv",
					"viewnext.csv",
					"minsait.csv",
					"nttdata-2020.csv"
				]
			},
			"file_name_themes": {
				"type": "array",
				"defaultValue": [
					"temasHiberus.csv",
					"temasVN.csv",
					"temasMinsait.csv",
					"temasNttdata.csv"
				]
			},
			"save_route_databricks": {
				"type": "string"
			}
		},
		"annotations": []
	}
}