plantillas/pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.file",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IF TABLE EXISTS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "HOLA",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "IF TABLE EXISTS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						},
						{
							"name": "ADIOS",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "IF TABLE EXISTS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "array",
				"defaultValue": [
					"hiberus.csv",
					"viewnext.csv",
					"minsait.csv",
					"nttdata-2020.csv"
				]
			}
		},
		"annotations": []
	}
}