plantillas/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.file",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IF TABLE EXISTS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "IF TABLE EXISTS",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('IF TABLE EXISTS').output)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ADIOS",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 15
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "HOLA",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 15
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "array",
				"defaultValue": [
					"hiberus.csv",
					"viewnext.csv",
					"minsait.csv",
					"nttdata-2020.csv"
				]
			}
		},
		"annotations": []
	}
}